@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

/* ========== Base Styles ========== */
:root {
    --green-400: hsl(176, 50%, 47%);
    --green-700: hsl(176, 72%, 28%);
    --green-800: hsl(176, 75%, 21%);

    --black: hsl(0, 0%, 0%);
    --gray-500: hsl(0, 0%, 48%);

    --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.191);

    --radius: 1rem;

    --transition: 0.3s ease;

    font-family: 'Commissioner', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    min-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ========== Layout ========== */
body {
    background-color: #f8f8f8;
    color: var(--black);
    line-height: 1.6;
}

/* Header */
.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__links {
    display: none;
    gap: 2rem;
}

.navbar__toggle {
    background: none;
    border: none;
    cursor: pointer;
}

/* Hero */

.card {
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 2rem 2rem;
    margin: 0 8%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hero {
    width: 100%;
    background-image: url('./images/image-hero-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.hero-card {
    /* max-width: 840px; */
    margin: 0 18%;
    position: relative;
    top: 16rem;
    padding: 0 2rem 2rem;
}

.mastercraft-logo {
    position: relative;
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
}

.text-box-hero {
    text-align: center;
}

.text-box-hero h3 {
}

.text-box-hero p {
    color: var(--gray-500);
    line-height: 1.8rem;
    margin-top: 1.2rem;
    text-align: center;
}

.cta-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bookmark-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.bookmark-btn div {
    z-index: -1;
    position: absolute;
    left: 1rem;
    background-color: hsl(0, 0%, 48%);
    border-radius: 2rem;
    padding: 1.23rem 1rem;
}

.btn-action {
    background-color: var(--green-400);
    padding: 0 2rem;
    color: #fff;
    font-weight: 500;
    border-radius: 2rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--green-700);
    }

    &:active {
        background-color: var(--green-800);
    }
}

.growth-details {
    margin: 0 18%;
    position: relative;
    top: 18rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.growth-details .growth-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.horizontal-line {
    width: 1px;
    height: 100px;
    background-color: var(--gray-500);
    margin: 0 auto;
    transform: rotate(90deg);
}

.growth-details div span {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.growth-details div p {
    color: var(--gray-500);
    text-align: center;
}

.progress-bar-container {
    background-color: hsla(0, 0%, 48%, 0.069);
    width: 100%;
    margin-top: 3rem;
    border-radius: 2rem;
    height: 0.6rem;
}

.progress-bar {
    width: 75%;
    border-radius: 2rem;
    height: 0.6rem;
    background-color: var(--green-400);
}

.about {
    margin: 0 12%;
    padding-bottom: 2rem;
    position: relative;
    top: 52rem;
}

.about h3 {
    margin-bottom: 1.2rem;
}

.about p {
    color: var(--gray-500);
    line-height: 1.8rem;
    text-wrap-style: pretty;
}

/* Products */
.product-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.product-card {
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
}

.product-header {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.product-header span {
    color: var(--green-400);
}

.product-card p {
    margin: 1.2rem 0;
    color: var(--gray-500);
}
.item-quantity {
    margin-bottom: 1.4rem;
}

.item-quantity span {
    font-size: 1.8em;
    font-weight: 700;
    padding-right: 0.4rem;
}

.btn-active {
    background-color: var(--green-400);
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 500;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
}

.btn-active:hover {
    background-color: var(--green-700);
}

.btn-active:active {
    background-color: var(--green-800);
}

.btn-disable {
    background-color: hsla(0, 0%, 48%, 0.275);
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 500;
    border-radius: 2rem;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .hero {
        background-image: url('./images/image-hero-desktop.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .details-container {
        flex-direction: row;
        gap: 2rem;
        align-items: start;
    }

    .about {
        top: 32rem;
    }

    .horizontal-line {
        display: none;
    }

    .vertical-line {
        width: 2px;
        height: 60px;
        background-color: var(--gray-500);
        margin: auto auto;
        transform: rotate(180deg);
    }

    .cta-buttons {
        justify-content: space-around;
    }
}
