* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Nav Bar */
nav {
    background-color: red;
    padding: 4% 5%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.desktop-nav ul {
    display: none;
    gap: 2rem;
}
